html, body {
    margin: 0;
    min-height: 100vh;
    background-color: #444444;
}
main    
    {
        min-height: 100vh;
    }
.container
    {
        width: 70%;  
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;    
        background-color: white;  
    }
.lead 
    {
        font-size: 1.25rem;
        font-weight: 300;
    }
/* CELINE */
.flex-column{
    display: flex;
    flex-direction: column;
}
.w-100{
    width: 100%;
}
/* INDEX */
#main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#main-index h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 5vh 0;
    color: orange;
}

#section-search-index {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15vh;
    width: 80%;
    font-size: 30px;
    border-radius: 20px;
}
#section-search-index > input {
    border: 1px solid black;
}

#section-search-index:hover {
    box-shadow: 5px 5px 10px grey;
}

#search {
    height: 80%;
    width: 80%;
    font-size: 30px;
    margin: 0 2vw;
    border: 0;
    border-radius: 20px;
    outline: none;
}
#button_index {
    height: 5vh;
    border-radius: 20px;
    outline: none;
    color: orange;
    background-color: #444444;
}
/* FIN INDEX */
/* ELEMENT */
#section_element
    {
        display: flex;
        flex-direction: column;        
        align-items: center;        
        min-height: auto;
    }
#titre_jeu
    {
        font-size: 35px;
        margin-bottom: 10vh;
    }
#article_element
    {
        display: flex;
        flex-direction: row;        
        justify-content: space-around;
        text-align: center;
        width: 100%;
    }
#article_element p 
    {
        display: flex;
        align-items: center;
        font-style: italic;        
        width: 40%;
    }
@media screen and (min-width: 600px) and (max-width: 900px)
    {
        
    }
@media screen and (max-width: 640px)
    {
        #article_element
            {
                display: flex;
                flex-direction: column-reverse;        
                justify-content: space-around;
                align-items: center;
                /* text-align: center; */
                width: 100%;
            }
        #article_element p 
            {
                margin-top: 3vh;
            }
    }
#suggestion section
    {
        display: flex;    
        justify-content: space-evenly;    
    }
/* FIN ELEMENT */
/* HEADER */
header
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: black;
    }
#nom_jeu
    {
        display: flex;
        align-items: center;
    }
.fa-gamepad
    {
        display: flex;
        align-items: center;
        font-size: 45px;        
        color: #FF5500;
    }
.fa-search
    {
        display: flex;
        align-items: center;
        font-size: 30px;        
        color: #FF5500;
    }
#nom_jeu h4
    {
        font-size: 40px;
        margin: 3vh 0;
        color: #FF5500;
    }
#titre-partie
    {
        color: white;
    }
#search_barre
    {
        border: 0;
        outline: none;
        border-bottom: 3px solid #FF5500;
        background-color: black;
        color: white;
        font-size: 25px;
    }
/* FIN HEADER */
