html    
    {
        margin: 0;
        min-height: 100vh;
    }
body
    {
        margin: 0;
        min-height: 100vh;
    }
/* INDEX */
#main-index
    {
        display: flex;
        flex-direction: column;       
        align-items: center;     
        min-height: 100vh;
    }
#section-search-index
    {
        display: flex;
        flex-direction: row; 
        align-items: center;       
        width: 70%;
        height: 10vh;
        margin: 20vh 0;
    }
#search
    {
        height: 100%;
        width: 100%;
        margin-right: 5vw;
        border-radius: 5px;
    }
#button_index
    {        
        height: 5vh;
    }
/* FIN INDEX */