html    
    {
        margin: 0;
    }
body
    {
        margin: 0;
    }
/* INDEX */
#main-index
    {
        display: flex;
        flex-direction: column;        
    }
#section-search-index
    {
        display: flex;
        flex-direction: row; 
        align-items: center;       
        width: 70%;
        height: 20vh;
    }
#search
    {
        height: 100%;
        width: 100%;
    }
#button_index
    {        
        height: 5vh;
    }
/* FIN INDEX */